<div class="lr__form">

    <form class="lr__form-container" (submit)="onSubmit()" #f="ngForm" novalidate>
        <h3 class="lr__form-header">Додати нове об'єкт</h3>

        <!-- Name , Pollutant_name, Emissions_type -->
        <input class="lr__form-input"
               name="name"
               placeholder="Назва міста"
               type="text" [(ngModel)]="this.form.name"
               minlength="3"
               required>
        <input class="lr__form-input"
               name="pollutant_name"
               placeholder="Назва забруднюючої речовини"
               type="text"
               [(ngModel)]="this.form.emissions_info.pollutant_name"
               minlength="3"
               required>


        <input class="lr__form-input"
               name="Ca"
               placeholder="Концентрація речовини в амтосферному повітрі мг/куб.м"
               type="number"
               [(ngModel)]="this.form.emissions_info.Ca"
               required>
        <input class="lr__form-input"
               name="Ch"
               placeholder="Концентрація речовини у приміщенні мг/куб.м"
               type="number"
               [(ngModel)]="this.form.emissions_info.Ch"
               required>
        <input class="lr__form-input"
               name="Tout"
               placeholder="Час поза приміщенням год/доба"
               type="number"
               [(ngModel)]="this.form.emissions_info.Tout"
               required>
        <input class="lr__form-input"
               name="Tin"
               placeholder="Час у приміщенні год/доба"
               type="number"
               [(ngModel)]="this.form.emissions_info.Tin"
               required>
        <input class="lr__form-input"
               name="Vout"
               placeholder="Швидкість дихання поза приміщенням куб.м/год"
               type="number"
               [(ngModel)]="this.form.emissions_info.Vout"
               required>
        <input class="lr__form-input"
               name="Vin"
               placeholder="Швидкість дихання у приміщенн куб.м/год"
               type="number"
               [(ngModel)]="this.form.emissions_info.Vin"
               required>
        <input class="lr__form-input"
               name="EF"
               placeholder="Частота впливу днів/рік"
               type="number"
               [(ngModel)]="this.form.emissions_info.EF"
               required>
        <input class="lr__form-input"
               name="ED"
               placeholder="Тривалість впливу років"
               type="number"
               [(ngModel)]="this.form.emissions_info.ED"
               required>
        <input class="lr__form-input"
               name="BW"
               placeholder="Маса тіла кг"
               type="number"
               [(ngModel)]="this.form.emissions_info.BW"
               required>
        <input class="lr__form-input"
               name="AT"
               placeholder="Період осереднення ексопиззиції років"
               type="number"
               [(ngModel)]="this.form.emissions_info.AT"
               required>
        <input class="lr__form-input"
               name="AC"
               placeholder="Середня концентрація мг/куб.м"
               type="number"
               [(ngModel)]="this.form.emissions_info.AC"
               required>
        <input class="lr__form-input"
               name="RfC"
               placeholder="Рефернтра концентрація мг/куб.м"
               type="number"
               [(ngModel)]="this.form.emissions_info.RfC"
               required>
        <input class="lr__form-input"
               name="SF"
               placeholder="Фактор нахилу мг/(кг * доба)"
               type="number"
               [(ngModel)]="this.form.emissions_info.SF"
               required>
        <input class="lr__form-input"
               name="POP"
               placeholder="Чисельність популяції  "
               type="number"
               [(ngModel)]="this.form.POP"
               required>


        <input class="lr__form-input"
               name="year"
               placeholder="Рік екологчного паспорту"
               type="number"
               [(ngModel)]="this.form.additional_information.year" required>
        <input class="lr__form-input"
               name="url"
               placeholder="Посилання на екологічний паспорт"
               type="text"
               [(ngModel)]="this.form.additional_information.url" required>
        <button class="lr__form-submit" type="submit">Додати</button>
    </form>
</div>

