.lr {
    &__form {
        $form: &;
        width: 100%;
        padding: 70px 30px;
        
        &-container {
            display: flex;
            overflow: hidden;
            align-items: center;
            flex-direction: column;
            max-width: 700px;
            margin: 0 auto;
            
            &.ng-submitted {
                #{$form}-input.ng-invalid, #{$form}-select.ng-invalid {
                    border: 1px solid indianred;
                }
            }
        }
        
        &-header {
            font-size: 20px;
            font-weight: 600;
            display: block;
            width: 100%;
            padding: 10px 30px;
            text-align: center;
            background-color: lightskyblue;
            border-radius: 20px;
            border: 1px solid grey;
        }
        
        
        &-input, &-select {
            font-size: 16px;
            width: 100%;
            margin: 10px auto;
            padding: 10px;
            border: 1px solid grey;
            border-radius: 20px;
            
            &.ng-touched.ng-invalid {
                border: 1px solid indianred;
            }
            
            option {
                color: black;
                
            }
            
            &.ng-untouched {
                color: grey;
            }
            
            &.ng-dirty {
                color: black;
            }
        }
        
        &-submit {
            font-size: 14px;
            padding: 5px 10px;
            border: 1px solid grey;
            border-radius: 20px;
            font-weight: 600;
            background-color: lightskyblue;
            transition: 0.2s ease-in-out all;
            
            &:hover {
                box-shadow: 0 0 8px #9c9c9c;
            }
        }
    }
}
