.lr {
    &__table {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 70px 30px;
        
        &-container {
            width: 100%;
            overflow: hidden;
            margin: 70px 0 70px 0;
            border-collapse: collapse;
            border: 8px solid white;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0 0 8px #9c9c9c;
            
            .tr-header {
                background-color: lightskyblue;
                
                &:first-child {
                    border: 1px solid grey;
                    border-radius: 20px 20px 0 0;
                }
            }
            
            th, td {
                padding: 20px;
                text-align: center;
                border: 1px solid grey;
                position: relative;
                height: 48px;
                
                &.result {
                    span {
                        padding: 0 0 15px 0;
                    }
                    
                    mat-icon {
                        padding: 5px 10px 0 0;
                    }
                }
                
                .lr__table-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            
            td {
                input {
                    border: 1px solid grey;
                    border-radius: 4px;
                    padding: 4px;
                }
            }
        }
        
        &-details {
            margin: 10px 0 70px 20px;
            align-self: flex-start;
            
            a {
                color: black;
                
                &:hover {
                    text-decoration: underline;
                    color: blue;
                }
            }
        }
        
        &-tr {
            min-height: 48px;
            
            &.loading {
                th {
                    text-align: center;
                }
            }
            
            .bad-status {
                background-color: #ffb0b0;
            }
            
            .good-status {
                background-color: #b3f7b3;
            }
            
            .lr__table-td {
                &.name {
                    position: relative;
                    
                    a {
                        position: absolute;
                        font-size: 13px;
                        top: 2px;
                        right: 2px;
                        color: grey;
                        
                        &:hover {
                            color: black;
                            text-decoration: underline;
                        }
                    }
                    
                    
                }
                
                &-controls {
                    position: absolute;
                    font-size: 13px;
                    top: 0;
                    left: 0;
                    
                    button {
                        background: none;
                        
                        &.delete {
                            color: indianred;
                        }
    
                        &.edit {
                            color: dodgerblue;
                        }
    
                        &.save {
                            color: green;
                        }
                        
                        mat-icon {
                            font-size: 17px;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
        
        &-button {
            font-size: 14px;
            font-weight: 600;
            margin: 0 20px;
            padding: 5px 10px;
            transition: 0.2s ease-in-out all;
            border: 1px solid grey;
            border-radius: 20px;
            background-color: lightskyblue;
            
            &:hover {
                box-shadow: 0 0 8px #9c9c9c;
            }
            
            &.editing {
                box-shadow: 0 0 8px lightskyblue;
            }
            
            &.delete {
                margin: 0;
                padding: 0;
                color: red;
                border: 0;
                background-color: unset;
                
                &:hover {
                    box-shadow: unset;
                    color: darkred;
                }
            }
        }
        
        .nowrap {
            white-space: nowrap;
        }
    }
}
