<div class="lr__table">
    <table class="lr__table-container">
        <tr class="lr__table-tr tr-header">
            <th class="nowrap">№ з/п</th>
            <th>Об'єкт</th>
            <th>Назва забруднюючої речовини</th>
            <!-- EMISSION -->
            <th>Середнє значення  масової  витрати забруднюючої речовини <br/> (qm) <br/> г/с</th>
            <th>Значення  затвердженого  нормативу  викиду забруднюючої речовини <br/> (qnorm) <br/> г/с</th>
            <th>Час роботи джерела викиду  <br/> (T) <br/> год</th>
            <th>Розмір  мінімальної  заробітної  плати <br/> (P)</th>
            <th>Середньодобова граничнодопустима концентрація <br/> (GDK) <br/> мг/куб.м.</th>
            <th>Коефіцієнт чисельності  жителів <br/> (Knas) </th>
            <th>Коефіцієнт народногосподарського значення населеного пункту <br/> (Kf)</th>
            <th>Коефіцієнт забруднення атмосферного  повітря<br/> (Kz)</th>
            <!-- CALCULATED -->
            <th>Маса забруднюючої  речовини<br/> (m)</th>
            <th>Показник  відносної  небезпечності <br/> (A)</th>
            <th>Коефіціент територіально соціально-екологічних особливостей <br/> (Kt)</th>
            <th>Збиток <br/> (Z)</th>
        </tr>
        <tr *ngIf="loading" class="lr__table-tr loading">
            <th colspan="7">Loading...</th>
        </tr>
        <ng-container *ngFor="let object of objects; let j = index">
            <tr class="lr__table-tr loading" *ngFor="let info of object['losses']; let i = index">
                <!-- Info -->
                <td class="lr__table-td" *ngIf="i== 0" [attr.rowspan]="object['losses'].length">
                    {{object.id + 1}}
                    <div class="lr__table-td-controls">
                        <button (click)="onDelete(object.id)" class="delete">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <button *ngIf="!object.isEditing" (click)="toggleObjectEdit(j)" class="edit">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button *ngIf="object.isEditing" (click)="saveEditObject(j)" class="save">
                            <mat-icon>done</mat-icon>
                        </button>
                    </div>
                </td>
                <td class="lr__table-td name" *ngIf="i===0" [attr.rowspan]="object['losses'].length">
                    <span *ngIf="!object.isEditing">{{object.name}}</span>
                    <input *ngIf="object.isEditing" type="text"
                           [(ngModel)]="objects[j].name">
                    <a href="{{object['sources']}}">🛈</a>
                </td>
                <td>
                    <span *ngIf="!object.isEditing">{{info['name']}}</span>
                    <input *ngIf="object.isEditing" type="text"
                           [(ngModel)]="objects[j]['losses'][i]['name']">
                </td>
                <!-- Emission -->
                <td>
                    <span *ngIf="!object.isEditing">{{info.qm}}</span>
                    <input *ngIf="object.isEditing" type="number"
                           [(ngModel)]="objects[j]['losses'][i]['qm']">
                </td>
                <td>
                    <span *ngIf="!object.isEditing">{{info.qnorm}}</span>
                    <input *ngIf="object.isEditing" type="number"
                           [(ngModel)]="objects[j]['losses'][i]['qnorm']">
                </td>
                <td>
                    <span *ngIf="!object.isEditing">{{info.T}}</span>
                    <input *ngIf="object.isEditing" type="number"
                           [(ngModel)]="objects[j]['losses'][i]['T']">
                </td>
                <td>
                    <span *ngIf="!object.isEditing">{{info.P}}</span>
                    <input *ngIf="object.isEditing" type="number"
                           [(ngModel)]="objects[j]['losses'][i]['P']">
                </td>
                <td>
                    <span *ngIf="!object.isEditing">{{info.GDK}}</span>
                    <input *ngIf="object.isEditing" type="number"
                           [(ngModel)]="objects[j]['losses'][i]['GDK']">
                </td>
                <td>
                    <span *ngIf="!object.isEditing">{{info.Knas}}</span>
                    <input *ngIf="object.isEditing" type="number"
                           [(ngModel)]="objects[j]['losses'][i]['Knas']">
                </td>
                <td>
                    <span *ngIf="!object.isEditing">{{info.Kf}}</span>
                    <input *ngIf="object.isEditing" type="number"
                           [(ngModel)]="objects[j]['losses'][i]['Kf']">
                </td>
                <td>
                    <span *ngIf="!object.isEditing">{{info.Kz}}</span>
                    <input *ngIf="object.isEditing" type="number"
                           [(ngModel)]="objects[j]['losses'][i]['Kz']">
                </td>
                <!-- Calculated -->
                <td class="nowrap">
                    {{info.m  ? info.m.toFixed(3) : ' '}}
                </td>
                <td class="nowrap">
                    {{info.A ? info.A.toFixed(3) : ' '}}
                </td>
                <td class="nowrap">
                    {{info.Kt || ' '}}
                </td>
                <td class="nowrap">
                    {{info.Z || info.Z === 0 ? info.Z.toFixed(3) : ' '}}
                </td>
            </tr>
        </ng-container>
    </table>
    <div class="lr__table-control">
        <button class="lr__table-button" [disabled]="isChecked" (click)="calculateLosses()">
            Обрахувати збитки
        </button>
    </div>
</div>
