.lr {
    &__table {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 70px 30px;
        
        &-container {
            width: 100%;
            overflow: hidden;
            margin: 70px 0 0 0;
            border-collapse: collapse;
            border: 8px solid white;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0 0 8px #9c9c9c;
            
            .tr-header {
                background-color: lightskyblue;
                
                &:first-child {
                    border: 1px solid grey;
                    border-radius: 20px 20px 0 0;
                }
            }
            
            th, td {
                padding: 10px;
                text-align: center;
                border: 1px solid grey;
                height: 48px;
                
                &.result {
                    span {
                        padding: 0px 0 15px 0;
                    }
                    
                    mat-icon {
                        padding: 5px 10px 0 0px;
                    }
                }
            }
        }
        
        &-details {
            margin: 10px 0 70px 20px;
            align-self: flex-start;
            
            a {
                color: black;
                
                &:hover {
                    text-decoration: underline;
                    color: blue;
                }
            }
        }
        
        &-tr {
            min-height: 48px;
            
            &.loading {
                th {
                    text-align: center;
                }
            }
            
            .bad-status {
                background-color: #ffb0b0;
            }
            
            .good-status {
                background-color: #b3f7b3;
            }
        }
        
        &-button {
            font-size: 14px;
            font-weight: 600;
            margin: 0 20px;
            padding: 5px 10px;
            transition: 0.2s ease-in-out all;
            border: 1px solid grey;
            border-radius: 20px;
            background-color: lightskyblue;
            
            &:hover {
                box-shadow: 0 0 8px #9c9c9c;
            }
            
            &.editing {
                box-shadow: 0 0 8px lightskyblue;
            }
            
            &.delete {
                margin: -2px -10px;
                padding: 0;
                color: red;
                border: 0;
                background-color: unset;
                
                &:hover {
                    box-shadow: 0 0 8px indianred;
                }
            }
        }
    }
}
