<div class="lr__table">
    <table class="lr__table-container">
        <tr class="lr__table-tr tr-header">
            <th class="nowrap">№ з/п</th>
            <th>Назва об'єкту</th>
            <th>Назва забруднюючої речовини</th>
            <th>Об'єм викидів забруднюючо ї речовини</th>
            <th>Вид забруднення</th>
            <th>Ставки податку</th>
            <th>Сума податку</th>
        </tr>
        <tr *ngIf="loading" class="lr__table-tr loading">
            <th colspan="7">Loading...</th>
        </tr>
        <ng-container *ngFor="let geoObject of geoObjects; let j = index">
            <tr class="lr__table-tr loading" *ngFor="let info of geoObject['emissions_info']; let i = index">
                <td class="lr__table-td" *ngIf="i== 0" [attr.rowspan]="geoObject['emissions_info'].length">
                    {{geoObject.id + 1}}
                    <div class="lr__table-td-controls">
                        <button (click)="onDelete(geoObject.id)" class="delete">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <button *ngIf="!geoObject.isEditing" (click)="toggleObjectEdit(j)" class="edit">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button *ngIf="geoObject.isEditing" (click)="saveEditObject(j)" class="save">
                            <mat-icon>done</mat-icon>
                        </button>
                    </div>
                </td>
                <td class="lr__table-td name" *ngIf="i===0" [attr.rowspan]="geoObject['emissions_info'].length">
                    <span *ngIf="!geoObject.isEditing">{{geoObject.name}}</span>
                    <input *ngIf="geoObject.isEditing" type="text"
                           [(ngModel)]="geoObjects[j].name">
                    <a href="{{geoObject['additional_information'].url}}">{{geoObject['additional_information'].year}}</a>
                </td>
                <td>
                    <span *ngIf="!geoObject.isEditing">{{info['pollutant_name']}}</span>
                    <input *ngIf="geoObject.isEditing" type="text"
                           [(ngModel)]="geoObjects[j]['emissions_info'][i]['pollutant_name']">
                </td>
                <td class="nowrap">
                    <span *ngIf="!geoObject.isEditing">{{info.emissions}}</span>
                    <input *ngIf="geoObject.isEditing" type="number"
                           [(ngModel)]="geoObjects[j]['emissions_info'][i]['emissions']">
                    {{info.emissions_radioactive_type === "2"? "cм^3": emissionDmensionalUnits[info.emissions_type]}}
                </td>
                <td>{{emissionTypes[info.emissions_type]}}</td>
                <td class="nowrap">
                    <span *ngIf="!geoObject.isEditing">{{info['tax_rates']}}</span>
                    <input *ngIf="geoObject.isEditing" type="number"
                           [(ngModel)]="geoObjects[j]['emissions_info'][i]['tax_rates']">
                    грн.
                </td>
                <td *ngIf="i===0"
                    [attr.rowspan]="geoObject['emissions_info'].length" class="nowrap">
                    {{geoObject['emissions_info']['tax_amount'] ? geoObject['emissions_info']['tax_amount'] + " грн." : ''}}
                </td>
            </tr>
        </ng-container>
    </table>

    <div class="lr__table-control">
        <button class="lr__table-button" [disabled]="isChecked" (click)="calculateTaxAmount()">
            Обрахувати податки
        </button>
    </div>
</div>
