.lr {
    &__table {
        width: 100%;
        max-width: 1440px;
        min-width: 280px;
        padding: 70px 30px;
        margin: 0 auto;
        
        &-container {
            display: inline-block;
            overflow-x: auto;
            max-width: 100%;
            margin: 70px 0 70px 0;
            line-height: 1.3;
            border-collapse: collapse;
            vertical-align: top;
            white-space: nowrap;
            border: 8px solid white;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0 0 8px #9c9c9c;
            -webkit-overflow-scrolling: touch;
            
            &::-webkit-scrollbar {
                height: 10px;
            }
            
            &::-webkit-scrollbar-track {
                background: white;
            }
            
            &::-webkit-scrollbar-thumb {
                background: lightskyblue;
                border-radius: 40px;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
            
            .tr-header {
                background-color: lightskyblue;
                
                &:first-child {
                    border: 1px solid grey;
                    border-radius: 20px 20px 0 0;
                }
            }
            
            th, td {
                position: relative;
                height: 48px;
                padding: 20px;
                text-align: center;
                border: 1px solid grey;
                
                &.result {
                    span {
                        padding: 0 0 15px 0;
                    }
                    
                    mat-icon {
                        padding: 5px 10px 0 0;
                    }
                }
                
                .lr__table-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            
            td {
                input {
                    padding: 4px;
                    border: 1px solid grey;
                    border-radius: 4px;
                }
            }
        }
        
        &-control {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        &-details {
            align-self: flex-start;
            margin: 10px 0 70px 20px;
            
            a {
                color: black;
                
                &:hover {
                    text-decoration: underline;
                    color: blue;
                }
            }
        }
        
        &-tr {
            min-height: 48px;
            
            &.loading {
                th {
                    text-align: center;
                }
            }
            
            .bad-status {
                background-color: #ffb0b0;
            }
            
            .good-status {
                background-color: #b3f7b3;
            }
            
            .lr__table-td {
                &.name {
                    position: relative;
                    
                    a {
                        font-size: 13px;
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        color: grey;
                        
                        &:hover {
                            text-decoration: underline;
                            color: black;
                        }
                    }
                    
                    
                }
                
                &-controls {
                    font-size: 13px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    
                    button {
                        background: none;
                        
                        &.delete {
                            color: indianred;
                        }
                        
                        &.edit {
                            color: dodgerblue;
                        }
                        
                        &.save {
                            color: green;
                        }
                        
                        mat-icon {
                            font-size: 17px;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
        
        &-button {
            font-size: 14px;
            font-weight: 600;
            margin: 0 20px;
            padding: 5px 10px;
            transition: 0.2s ease-in-out all;
            border: 1px solid grey;
            border-radius: 20px;
            background-color: lightskyblue;
            
            &:hover {
                box-shadow: 0 0 8px #9c9c9c;
            }
            
            &.editing {
                box-shadow: 0 0 8px lightskyblue;
            }
            
            &.delete {
                margin: 0;
                padding: 0;
                color: red;
                border: 0;
                background-color: unset;
                
                &:hover {
                    color: darkred;
                    box-shadow: unset;
                }
            }
        }
        
        .nowrap {
            white-space: nowrap;
        }
    }
    
}
